/*
 * プロセッサ間割込みのコンフィギュレーションファイル
 *
 * $Id: hw_interpro.cfg 289 2025-12-15 15:40:25Z roi $
 */

#include "hw_interpro.h"

INCLUDE("\"hw_interpro.h\"");

/*
 *  プロセッサ間割り込みサービスルーチンの登録
 */
#if TNUM_PRCID > 1
DEF_INH(INHNO_IPI_PRC1, { TA_NULL|TA_PRC1, interpro_int_handler });
CFG_INT(INTNO_IPI_PRC1, { TA_ENAINT|TA_PRC1, INTPRI_IPI_PRC });
DEF_INH(INHNO_IPI_PRC2, { TA_NULL|TA_PRC2, interpro_int_handler });
CFG_INT(INTNO_IPI_PRC2, { TA_ENAINT|TA_PRC2, INTPRI_IPI_PRC });
#endif /* TNUM_PRCID > 1 */
