/*
 *  @(#) $Id: hw_serial.cfg,v 1.1 2006/05/13 10:05:07 roi Exp $
 */

/*
 *	SCI/SCIFドライバのコンフィギュレーションファイル
 */

#include "hw_serial.h"
INCLUDE("\"hw_serial.h\"");

DEF_INH(INHNO_SERIAL_IN,  { TA_HLNG, sio_handler_in });
DEF_INH(INHNO_SERIAL_OUT, { TA_HLNG, sio_handler_out });
DEF_INH(INHNO_SERIAL_ERROR, { TA_HLNG, sio_handler_error });

#if TNUM_PORT >= 2

DEF_INH(INHNO_SERIAL2_IN,  { TA_HLNG, sio_handler2_in });
DEF_INH(INHNO_SERIAL2_OUT, { TA_HLNG, sio_handler2_out });
DEF_INH(INHNO_SERIAL2_ERROR, { TA_HLNG, sio_handler2_error });

#endif /* TNUM_PORT >= 2 */
