/*
 *	SIOドライバ（SE10-Nano用）のコンフィギュレーションファイル
 */
#include <hw_serial.h>
INCLUDE("\"hw_serial.h\"");

DEF_INH( INHNO_SIO1, { TA_HLNG|TA_PRCALL, sio_handler0 } );
#if TNUM_SIOP >= 2
DEF_INH( INHNO_SIO2, { TA_HLNG|TA_PRCALL, sio_handler1 } );
#endif
